In [1]:
import pandas as pd

# Chargement du fichier complet
df = pd.read_csv("billets_sans_Ã©tiquette.csv")

In [2]:
df.head()

  diagonal;height_left;height_right;margin_low;margin_up;length
0              171.81;104.86;104.95;4.52;2.89;112.83
1              171.46;103.36;103.66;3.77;2.99;113.09
2                172.69;104.48;103.5;4.4;2.94;113.16
3              171.36;103.91;103.94;3.62;3.01;113.51
4              171.73;104.28;103.46;4.04;3.48;112.54